---
import "@/styles/main.css";
import Card from "@/components/Card.astro";
import { transactions } from "../data/transations";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>WDD Dashboard Component</title>
  </head>
  <body>
    <main><Card data={transactions} /></main>
  </body>
  <style>
    main {
      display: grid;
      place-items: center;
      min-height: 100vh;
    }
  </style>
</html>
